@import url("reset.css");

    /* WEBKIT SCROLLBARS */

    ::-webkit-scrollbar{ width: 10px; height: 10px;}
    ::-webkit-scrollbar-track-piece{ background-color: #333; -webkit-border-radius: 0; }
    ::-webkit-scrollbar-thumb:vertical{ height: 5px; background-color: #666; -webkit-border-radius: 3px; }
    ::-webkit-scrollbar-thumb:vertical:hover{ background-color: #999; }
    ::-webkit-scrollbar-thumb:horizontal{ width: 5px; background-color: #666; -webkit-border-radius: 3px; }
    ::-webkit-scrollbar-thumb:horizontal:hover{ background-color: #999; }

/* DOCUMENT */

    html { width: 100%; height: 100%; overflow: auto; background: #333333; font: normal 14px Arial, Helvetica, sans-serif; }
    body { width: 100%; height: 100%; }
    
/* CONSOLE */
    
    #console { display: none; position: fixed; top: 108px; right: -559px; width: 600px; height: 75%; border: none; border: 2px solid #666; border-right: none; background: #121212; z-index: 99999;
        -webkit-box-shadow:  0px 0px 25px 0px rgba(0, 0, 0, .9);
        box-shadow:  0px 0px 25px 0px rgba(0, 0, 0, .9);
        -webkit-border-radius: 15px 0px 0px 15px;
        border-radius: 15px 0px 0px 15px;
        background-clip: padding-box;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
    }
    
    #handle { float: left; position: relative; width: 50px; height: 100%; text-align: center; color: #4d4d4d; font-size: 20px; padding: 10px 5px; border-right: 1px solid #333; 
        -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    }
    
    #reveal { display: inline-block; cursor: pointer; padding: 5px; }
    #reveal:hover { color: #a8a8a8; }
    
    #inject { display: block; width: 25px; height: 25px; position: absolute; left: 12px; bottom: 50px; cursor: pointer; opacity: 0.0; }
    #inject:hover { color: #a8a8a8; }
    
    #edit-region { float: left; width: 550px; height: 100%; margin: 0; }
    
        #editor { width: 550px; height: 100%;
            -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
        }
    
        .ace_content { padding: 8px 0 0 8px; margin: 0; font-size: 12px; }
    
        .ace_gutter-layer { background: #1a1a1a; color: #fff; padding-top: 8px; 
            -webkit-box-shadow: inset -3px 0px 10px 0px rgba(0, 0, 0, .9);
            -moz-box-shadow: inset -3px 0px 10px 0px rgba(0, 0, 0, .9);
            box-shadow: inset -3px 0px 10px 0px rgba(0, 0, 0, .9); 
        }        
        .ace_error { background-position: 3px 0 !important; }
        
        #editor button { width: 100%; background: #121212; text-align: center; color: #fff; border: none; margin: 0; padding: 15px 10px 0 10px; cursor: pointer; font-size: 18px; 
            background: -moz-linear-gradient(top, rgba(40,40,40,1) 0%, rgba(18,18,18,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,40,40,1)), color-stop(100%,rgba(18,18,18,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(40,40,40,1) 0%,rgba(18,18,18,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(40,40,40,1) 0%,rgba(18,18,18,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(40,40,40,1) 0%,rgba(18,18,18,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(40,40,40,1) 0%,rgba(18,18,18,1) 100%); /* W3C */
        }
    
/* HEADER */
    
    header { width: auto; padding: 15px; margin: 0; border: none; border-bottom: 2px solid #666; padding: 15px 50px; background: #121212;
        -webkit-box-shadow:  0px 0px 25px 0px rgba(0, 0, 0, .9);
        box-shadow:  0px 0px 25px 0px rgba(0, 0, 0, .9);
    }
    
/* INPUTS */
    
    label, input { display: inline-block; background: none; border: none; color: #ccc; }
    label { margin: 0 10px; padding: 5px 0 0 0; }
    
    input { border-bottom: 1px solid #333; padding: 3px 5px; font-size: 14px; }
    
    input:focus { outline: none; border-bottom: 1px solid #999; }
    
    #src { width: 500px; }
    #width { width: 50px; text-align: center; }
    #height { width: 50px; text-align: center; }
    
/* VIEWER */

    #container { position: relative; float: left; margin: 50px; border: 2px solid #666; padding: 20px; background: #121212;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        -webkit-box-shadow:  0px 0px 25px 0px rgba(0, 0, 0, .9);
        box-shadow:  0px 0px 25px 0px rgba(0, 0, 0, .9);
    }
    
    #iframefix { display: none; position: absolute; background: #fff; opacity: 0.001; }
    
    .ui-resizable { position: relative;} 
    .ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 
    99999; display: block;} 
    .ui-resizable-disabled .ui-resizable-handle, .ui-resizable- 
    autohide .ui-resizable-handle { display: none; } 
    .ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; 
        right: 8px; bottom: 4px;   
        width: 0; 
        height: 0; 
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;  
        border-left: 8px solid #666;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .ui-resizable-se:hover { border-left: 8px solid #fff; }
